
  <%if(books){ for(var i = 0; i < books.length; i++) {%>

    <div class="col-1-3 mobile-col-1-3">
      <div class="content">
        <div class="card card--small">
          <form action="/bookmarks/clicked" method="post" class="card__title">
            <input type="hidden" name="user_ID" value=<%=books[i].user_ID %>>
            <input type="hidden" name="book_ID" value=<%=books[i].book_ID %>>
            <input type="hidden" name="url" value=<%=books[i].URL %>>
            <input type="submit" class="card__title" value=<%=books[i].Title %>>
          </form>
          <div style=<%= 'background-color:#'+function(){var x; while(1){
            x = Math.floor(Math.random()*900 + 100).toString();
            return x;
          }}();
           %> class="card__image"></div>
          <div class="card__action-bar" >
            <form action="/bookmarks/star" method="post" class="card__button">
              <input type="hidden" name="starred" value=<%=books[i].Star %>>
              <input type="hidden" name="user_ID" value=<%=books[i].user_ID %>>
              <input type="hidden" name="book_ID" value=<%=books[i].book_ID %>>
              <button class="card__button" ><i class="fa fa-star fa-lg"></i></button>
            </form>

            <div onclick=<%="showEdit("+books[i].book_ID+")"%> class="fa fa-edit fa-lg" ></div>

            <form action="/bookmarks/delete" method="post" class="card__button">
              <input type="hidden" name="user_ID" value=<%=books[i].user_ID %>>
              <input type="hidden" name="book_ID" value=<%=books[i].book_ID %>>
              <button class="card__button" id="trigger-submit"><i class="fa fa-trash-o fa-lg"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <% }}else{ %>
      <h1>There are no bookmarks here</h1>
      <%}%>
