<%if(folders){ for(var j = 0; j < folders.length; j++) {%>
  <div id=<%='folderModaledit' +folders[j].folder_ID %> class="modalDialog">
    <div class="grid grid-pad">
      <a href="#close" title="Close" class="close x-button">x</a>
      <div class="tabs is-centered">
        <ul>
          <li id="add-folder" class="is-active"><a>Add Bookmarks in Folder</a></li>
        </ul>
      </div>
      <form action="/addBookToFolder" method="post">
        <div class="form" id="add-folder-form">
          <input type="text" name="folder" id="Folder_input" style="width:100%;margin-bottom: 15px;height:32px" value=<%=folders[j].Name%>>
          <input type="hidden" name="folder_ID" style="display:none" value=<%=folders[j].folder_ID%>>

          <select name="book_ID" style="width:100%;margin-bottom: 15px;height: 32px;border: 2px solid #FFF;background-color: #6C7A89; font-size: 15px;color:#fff">
            <option></option>
            <% if(bookmarks){ bookmarks.forEach(function(book) { %>
              <option name="book_ID" value=<%=b ook.book_ID%> >
                <%=book.Title %>
              </option>
              <% }); }%>
          </select>
          <button><i class="fa fa-check-circle fa-lg"></i> Save</button>
        </div>
      </form>
    </div>
  </div>
  <%}}%>
