<% deleteBookmarkModal = function(bookmark) {%>
<div id= <%= "deleteModal"+bookmark.book_ID %> class="modalDialog">
    <div class="grid grid-pad">
        <a href="#close" title="Close" class="close x-button">x</a>
        <div class="tabs is-centered">
            <ul>
                <li id="del-bookmark" class="is-active"><a>Delete Bookmark</a></li>
            </ul>
        </div>
        <form method='post' action='/bookmarks/delete' id="delete-bookmark-form">
            <div class="form" id="delete-bookmark-form">
                <noscript>
                  <input type="hidden" name="javascript" value="0">
                </noscript>
                <input type="hidden" name="user_ID" value=<%= bookmarks[i].user_ID %>>
                <input type="hidden" name="book_ID" value=<%= bookmarks[i].book_ID %>>
                <input type="text" name="title" placeholder="Title" value=<%= bookmark.Title %> readonly>
                <div class="textFieldWrapper">
                    <input type="url" name="url" required pattern="https?://.+" placeholder="http://www.example.com" value=<%= bookmark.URL %> readonly>
                </div>
                <div class="textFieldWrapper">
                    <input type="text" name="description" placeholder="Description" value=<%= bookmark.Description %> readonly>
                </div>
                <p style="color:white; text-align: center;">Are you sure you'd like to delete this bookmark?</p>
                <div class="buttonWrapper" style="margin-bottom:15px">
                    <!-- <input type="submit" id="hide-submit-btn" style="visibility:hidden" value="Save"> -->
                    <button><i class="fa icon-trash fa-lg" id="trigger-submit">DELETE</i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<% }; %>
