<!DOCTYPE html>
<html>
<head>
	<% include helpers.ejs %>
	<% include updateBookmarkModal.ejs %>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Bookmarx</title>
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/simplegrid.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300|Montserrat:400,700' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
	<nav class="navbar">
		<ul>
			<li class="navbar-left menu-button">
				<a class="button" id="menu" href="/home"><i id="menu-icon" class="fa fa-bookmark-o fa-lg"></i> Bookmarx</a>
			</li>
			<li class="navbar-left search">
				<form action="/find" method="get">
					<input type="text" name = "searchbox" placeholder="Search Bookmarks" />
					<button><i class="fa fa-search fa-lg"></i></button>
				</form>
			</li>
			<li class="navbar-right">
				<form action="/sortBooks" method="get">
					<a class="button" href="/sortBooks" name="sort"><i class="fa fa-sort-alpha-asc fa-lg"></i></a>
				</form>
				<a href="/logout"><i class="fa fa-sign-out"></i></a>
			</li>
			<li class="navbar-right">
				<% if(bookmarks){for(var i = 0; i < bookmarks.length; i++) {%>
					<%= updateBookmarkModal(bookmarks[i]) %>
				<% }} %>
				<a href="#addModal" class="button"><i class="fa fa-plus fa-lg"></i></a>
				<div id="addModal" class="modalDialog">
					<div class="grid grid-pad">
						<a href="#close" title="Close" class="close x-button">x</a>
						<div class="tabs is-centered">
							<ul>
								<li id="add-bookmark" class="is-active"><a>Add Bookmark</a></li>
								<li id="import-bookmark"><a href="#importBookmark">Import Bookmarks</a></li>
							</ul>
						</div>

						<form method='post' action='/bookmarks/insert' id="add-bookmark-form">
							<div class="form">
								<input type="text" name="title" placeholder="Title">
								<div class="textFieldWrapper">
									<input type="url" name="url" required pattern="https?://.+" placeholder="http://www.example.com">
								</div>
								<div class="textFieldWrapper">
									<input type="text" name="description" placeholder="Description">
								</div>
								<noscript>
								  <input type="hidden" name="javascript" value="0">
								</noscript>
								<div class="buttonWrapper" style="margin-bottom:15px">
									<!-- <input type="submit" id="hide-submit-btn" style="visibility:hidden" value="Save"> -->
									<button><i class="fa fa-check-circle fa-lg" id="trigger-submit">Save</i></button>
								</div>
							</div>
						</form>
					 </div>
					</div>
					<a href="#importBookmark" class="button">Import Bookmark</i></a>
					<div id="importBookmark" class="modalDialog">
						<div class="grid grid-pad">
							<a href="#close" title="Close" class="close x-button">x</a>
							<div class="tabs is-centered">
								<ul>
									<li id="add-bookmark" ><a href="#addModal">Add Bookmark</a></li>
									<li id="import-bookmark" class="is-active"><a href="#import-bookmark-form">Import Bookmarks</a></li>
								</ul>
							</div>
							<form method='post' action='/bookmarks/import' id="import" enctype="multipart/form-data">
								<input type="file" name="myFile" accept=".csv" style="margin-bottom:15px; width:100%">
								<div class="buttonWrapper"  style="margin-bottom:15px">
									<!-- <input type="submit" id="hide-submit-btn" style="visibility:hidden" value="Save"> -->
									<button><i class="fa fa-check-circle fa-lg" id="trigger-submit">Import</i></button>
								</div>
							</form>
						</div>
					</div>
					<div class="form" id="import-bookmark-form">
						<div class="textFieldWrapper">
							<input type="url" name="url" placeholder="File Path">
						</div>
						<div class="buttonWrapper">
							<div><i class="fa fa-folder-open fa-lg"></i> Browse</div>
							<div><a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-lg"></i> Cancel</a></div>
						</div>
					</div>
				</li>
			</ul>
 </nav>
		<div id="sidebar" style="display:block">
			<ul>
				<li class="pinned">
					<form class="resetme" action="/home" method="get">
						<button style="background-color:#474448"><i class="fa fa-bar-chart fa-lg"></i> Most Visited</button>
					</form>
				</li>
				<li class="pinned">
					<form class="resetme" action="/folder/starred" method="get">
						<button style="background-color:#474448"><i class="fa fa-star fa-lg"></i> Starred</button>
					</form>
				</li>
			<li class="pinned">
				<form action="/showAll" method="get">
				<a href="/showAll"><i class="fa fa-th fa-lg"></i> All</a>
			</form>
			</li>					<%if(folders){ for(var j = 0; j < folders.length; j++) {%>
						<li>
							<form action="/folders" method="get" style="display:inline-block">
								<input type="hidden" name="folderName" value=<%= folders[j].Name%> >
								<button style="background-color:#474448;"name="folder_ID"value=<%= folders[j].folder_ID%> ><%= folders[j].Name%> </button>
							</form>

							<a href=<%= '#folderModaledit'+folders[j].folder_ID %> class="pad-trash-icon button" style="background-color:#474448;margin-left:55px;"><i class="fa fa-edit fa-lg" ></i></a>
							<form action="/deleteFolder" method="post" style="display:inline-block">
								<input type="hidden" name="folder_ID" value=<%= folders[j].folder_ID%> >
								<button style="background-color:#474448;"><i class="fa fa-trash-o fa-lg"></i></button>
							</form>
						</li>
					<%}}%>
				</ul>

				<%if(folders){ for(var j = 0; j < folders.length; j++) {%>
					<div id=<%='folderModaledit'+folders[j].folder_ID %> class="modalDialog">
						<div class="grid grid-pad">
							<a href="#close" title="Close" class="close x-button">x</a>
							<div class="tabs is-centered">
								<ul>
									<li id="add-folder" class="is-active"><a>Add Bookmarks in Folder</a></li>
								</ul>
							</div>
							<form action="/addBookToFolder" method="post">
								<div class="form" id="add-folder-form">
									<input type="text" name="folder" id="Folder_input" style="width:100%;margin-bottom: 15px;height:32px" value=<%= folders[j].Name%>>
									<input type="hidden" name="folder_ID" style="display:none" value=<%= folders[j].folder_ID%>>

									<select name="book_ID"style="width:100%;margin-bottom: 15px;height: 32px;border: 2px solid #FFF;background-color: #6C7A89; font-size: 15px;color:#fff">
											<option></option>
										<% if(bookmarks){ bookmarks.forEach(function(book) { %>
											<option name="book_ID" value=<%= book.book_ID%> > <%=book.Title %></option>
											<% }); }%>
										</select>
										<button ><i class="fa fa-check-circle fa-lg" ></i> Save</button>
									</div>
								</form>
							</div>
						</div>
						<%}}%>

							<div class="buttonWrapper">
								<div>
									<!-- <div><i class="fa fa-plus-circle fa-lg"></i> Folder</div> -->
									<a href="#folderModal" class="button" style="background-color:#474448"><i class="fa fa-plus-circle fa-lg"></i> Folder</a>
								</div>
								<form action="/bookmarks/export" method="get">
									<button><i class="fa fa-download fa-lg"></i> Export</button>
								</form>
							</div>
						</div>




						<!--  Modal for folder create-->
						<div id="folderModal" class="modalDialog">
							<div class="grid grid-pad">
								<a href="#close" title="Close" class="close x-button">x</a>
								<div class="tabs is-centered">
									<ul>
										<li id="add-folder" class="is-active"><a>Add Folder</a></li>
									</ul>
								</div>
								<form action="/createFolder" method="post">
									<div class="form" id="add-folder-form">
										<input type="text" name="folder" placeholder="Folder Name" id="Folder_input" style="width:100%;margin-bottom: 15px;height:32px">
										<div class="buttonWrapper" style="margin-bottom:20px; ">
											<button><i class="fa fa-check-circle fa-lg" ></i> Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>




						<div id="right">
							<div class="main grid grid-pad">
								<div id="title" class="col-1-1">
									<div class="content">
										<h3 style="color:red"><%= errormsg %></h3>
									</div>
								</div>

								<%if(bookmarks){ for(var i = 0; i < bookmarks.length; i++) {%>

									<div class="col-1-3 mobile-col-1-3">
										<div class="content">
											<div class="card card--small">
												<form action="/bookmarks/clicked" method="post" class="card__title">
													<input type="hidden" name="user_ID" value=<%=bookmarks[i].user_ID %>>
													<input type="hidden" name="book_ID" value=<%=bookmarks[i].book_ID %>>
													<input type="hidden" name="url" value=<%=bookmarks[i].URL %>>
													<input type="submit" class="card__title" value=<%=bookmarks[i].Title %>>
												</form>
												<div style=<%= randomBackgroundColor() %> class="card__image"></div>
												<div class="card__action-bar" >
													<form action="/bookmarks/star" method="post" class="card__button">
														<input type="hidden" name="starred" value=<%=bookmarks[i].Star %>>
														<input type="hidden" name="user_ID" value=<%=bookmarks[i].user_ID %>>
														<input type="hidden" name="book_ID" value=<%=bookmarks[i].book_ID %>>
														<button class="card__button" ><i class="fa fa-star fa-lg"></i></button>
													</form>

													<a href=<%= '#updateModal'+bookmarks[i].book_ID %>  class="fa fa-edit fa-lg" ></a>

													<form action="/bookmarks/delete" method="post" class="card__button">
														<input type="hidden" name="user_ID" value=<%=bookmarks[i].user_ID %>>
														<input type="hidden" name="book_ID" value=<%=bookmarks[i].book_ID %>>
														<button class="card__button"><i class="fa fa-trash-o fa-lg"></i></button>
													</form>
												</div>
											</div>
										</div>
									</div>

									<% }}else{ %>
										<h1>There are no bookmarks here</h1>
										<%}%>
									</div>

								</div>

							</body>

							</html>

							<!--

						-->
