<% updateBookmarkModal = function(bookmark) {%>
<div id= <%= "updateModal"+bookmark.book_ID %> class="modalDialog">
  <div class="grid grid-pad">
    <a href="#close" title="Close" class="close x-button">x</a>
    <div class="tabs is-centered">
      <ul>
        <li id="add-bookmark" class="is-active"><a>Update Bookmark</a></li>
      </ul>
    </div>
    <form method='post' action='/bookmarks/update' id="update-bookmark-form">
      <div class="form" id="update-bookmark-form">
        <input type="hidden" name="user_ID" value=<%= bookmarks[i].user_ID %>>
        <input type="hidden" name="book_ID" value=<%= bookmarks[i].book_ID %>>
        <input type="text" name="title" placeholder="Title" value=<%= bookmark.Title %>>
        <div class="textFieldWrapper">
          <input type="url" name="url" required pattern="https?://.+" placeholder="http://www.example.com" value=<%= bookmark.URL %>>
        </div>
        <div class="textFieldWrapper">
          <input type="text" name="description" placeholder="Description" value=<%= bookmark.Description %>>
        </div>

        <div class="buttonWrapper" style="margin-bottom:15px">
          <!-- <input type="submit" id="hide-submit-btn" style="visibility:hidden" value="Save"> -->
          <button><i class="fa fa-check-circle fa-lg" id="trigger-submit">Save</i></button>
        </div>
      </div>
    </form>
  </div>
</div>
<% }; %>
